@import "tailwindcss";

@font-face {
    font-family: "Mung Signature";
    src: url("/fonts/MungSignature.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Rainer";
    src: url("/fonts/Rainer.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}


@theme {
    /* Base */
    --color-background: #030303;
    --color-surface: #0d0d0d;
    --color-surface-alt: #151515;

    /* Texto */
    --color-text: #f4f4f5;
    --color-text-soft: #c4c4c6;
    --color-text-muted: #8a8a8d;
    --color-text-subtle: #5d5d60;

    /* Marca */
    --color-primary: #d40818;
    --color-primary-hover: #ef1425;
    --color-primary-dark: #760008;
    --color-primary-soft: #a40612;

    /* Estados */
    --color-success: #2fb36d;
    --color-warning: #ffb648;
    --color-danger: #ef4444;

    /* Bordes */
    --color-border: rgb(255 255 255 / 0.12);
    --color-border-soft: rgb(255 255 255 / 0.06);
    --color-border-primary: rgb(212 8 24 / 0.45);

    /* Sombras */
    --shadow-card: 0 10px 30px rgb(0 0 0 / 0.35);
    --shadow-glow: 0 0 40px rgb(212 8 24 / 0.25);

    /* Radius */
    --radius-card: 1rem;
    --radius-button: .75rem;

    /* Tipografía */
    --font-display: "Anton", sans-serif;
    --font-heading: "Rainer", sans-serif;
    --font-hand: "Mung Signature", cursive;
    --font-body: "Google Sans", sans-serif;

    /* Tamaños */
    --text-hero: clamp(10rem, 22vw, 24rem);
    --text-display: clamp(4rem, 7vw, 7rem);
}
