# Nuxt dev/build outputs
.output
output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
.playwright-cli

# Local env files
.env
.env.*
!.env.example
´
# Python & Rust
.venv
__pycache__/
target

# OwnData
backends/postgres/hardcoded_data/*.sql
/graphify-out
docker-compose.override.yml
