# Docker use (PostgreSQL Initialization)
POSTGRES_USER=portfolio_user
POSTGRES_PASSWORD=random_base64_password
POSTGRES_DB=portfolio_db
POSTGRES_HOST=db

# Rust&Python API
API_READER_USER=api_reader
API_READER_PASSWORD=random_base64_password
SYNC_WRITER_USER=sync_writer
SYNC_WRITER_PASSWORD=random_base64_password
TIMEZONE=Europe/Madrid

# Rust Only
RECIPIENT_EMAIL=recipient_email,
RECIPUENT_CC=recipient_email2,recipient_email3

SMTP_USER=smtp_user # This could be you gmail mail
SMTP_PASS=smtp_pass # and this the google app password
SMTP_HOST=smtp_host # for google to work this would be 'smtp.gmail.com'
FROM_NAME=name_from_name # 'FROM NAME <from@email>'
FROM_EMAIL=email_from_name # 'from_name' <FROM@EMAIL>'

# Python only
GH_TOKEN=github_token
GH_USERNAME=github_username

