# Docker use (PostgreSQL Initialization)
POSTGRES_USER=portfolio_user
POSTGRES_PASSWORD=random_base64_password
POSTGRES_DB=portfolio_db
POSTGRES_HOST=db

# Rust&Python API
API_READER_USER=api_reader
API_READER_PASSWORD=random_base64_password
SYNC_WRITER_USER=sync_writer
SYNC_WRITER_PASSWORD=random_base64_password
TIMEZONE=Europe/Madrid

# Rust Only
RECIPIENT_EMAIL=recipient_email,
RECIPUENT_CC=recipient_email2,recipient_email3

USE_SMTP=true
SMTP_USER=smtp_user
SMTP_PASS=smtp_pass
SMTP_HOST=smtp_host
SMTP_PORT=smtp_port

# Required if USE_GOOGLE=true
USE_GOOGLE=false
GOOGLE_MAIL=google_mail 
GOOGLE_APP_PASSWORD=google_generated_app_password

# Python only
GH_TOKEN=github_token
GH_USERNAME=github_username

