POSTGRES_USER=portfolio_user
POSTGRES_PASSWORD=random_base64_password
POSTGRES_DB=portfolio_db

API_READER_USER=api_reader
API_READER_PASSWORD=random_base64_password

SYNC_WRITER_USER=sync_writer
SYNC_WRITER_PASSWORD=random_base64_password

GITHUB_TOKEN=github_token